.form-control:focus, .form-select:focus{
    border: none;
    box-shadow: 0 0 0 .2vw #747474;
}

input[type=radio]:checked{
    background-color: black;
    box-shadow: 0 0 0 .2vw #747474;
}

.form-select option{
    color: white;
    background-color: black;
}
